:root {
    --color-nav-footer: #819899;
    --color-body: #d8d8d8;
    --color-texto: #1b1b1b;
}

ul{
list-style: none;
padding: 0;
margin: 0;
}

a {
    color: var(--color-texto);
    text-decoration: none;
}